h1 {
    color: darkred;
    font-size: 30px;
}

p.italico {
    color: hsla(0, 26%, 81%, 0.844);
    text-align: justify;
    text-indent: 50px;
    font-family: arial, helvetica, sans-serif;
    font-style: italic;
    font-size: 1em;
}

p.normal {
    color: hsl(61, 90%, 52%);
    text-align: justify;
    text-indent: 50px;
    font-family: arial, helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
}

p.oblique {
    color: hsla(152, 81%, 51%, 0.844);
    text-align: justify;
    text-indent: 50px;
    font-family: arial, helvetica, sans-serif;
    font-style: oblique;
    font-size: 20px;
}

b {
    color: rgb(230, 177, 186);
    font-size: 20px;
}

body {
    background-color: #107010;
    background-image: url(../icone/giphy.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: 50vh;
}

a {
    text-decoration: underline double #911d57;
    text-transform: capitalize;
    display: inline;
}

a:hover {
    color: #f0f;
}

ul.n0ordenada {
    list-style-type: square;
}

li.ordenada {
    list-style-type: upper-alpha;
}

table, th, td {
    border: solid 1px #911d57;
    width: 100%;
    height: 50px;
    padding: 5px 30px 50px 70px;
}

